<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>Login</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<link rel="icon" href="../static/ppLogo1.png">
</head>

<body>

	{% include "partials/header.html" %}
	<br> <br> <br>
	<div class="center text-center mb-3">
		<form class="form-signin" style="margin-left: 30vw; margin-right: 30vw;" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Login to PhotoPhonic</h1>
			<br>
			<label for="inputUser" class="sr-only">Username</label>
			<input id="inputUser" class="form-control mt-3 mr-3" placeholder="Username" name="username" value="{{request.form.username}}" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control mt-3 mr-3" placeholder="Password" name="password" value="{{request.form.password}}" required>
				<br> 
			<button class="btn btn-lg btn-primary" type="submit">Sign in</button>
			<br> <br>
			{% if error %}
        		<p class="error" style="color:red"><strong>Error:</strong> {{ error }}
    		{% endif %}
    						<hr>
			<div>
				<a href="{{ url_for('account_reg') }}">Register for a New Account</a>
			</div>
		</form>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	{% include "partials/footer.html" %}

</body>
</html>
